@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  -webkit-text-fill-color: #1b1b1b;
}
/* ================= */
/* ============ Basier Circle fonts ================ */
@font-face {
  font-family: "Basier Circle Bold";
  src: url("./fonts/BasierCircle-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Bold Italic";
  src: url("./fonts/BasierCircle-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Basier Circle Medium";
  src: url("./fonts/BasierCircle-Medium.otf") format("opentype");
  font-weight: 500; /* Assuming medium corresponds to 500 weight */
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Medium Italic";
  src: url("./fonts/BasierCircle-MediumItalic.otf") format("opentype");
  font-weight: 500; /* Assuming medium corresponds to 500 weight */
  font-style: italic;
}

@font-face {
  font-family: "Basier Circle Regular";
  src: url("./fonts/BasierCircle-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Regular Italic";
  src: url("./fonts/BasierCircle-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("./fonts/BasierCircle-SemiBold.otf") format("opentype");
  font-weight: 600; /* Assuming semi-bold corresponds to 600 weight */
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle SemiBold Italic";
  src: url("./fonts/BasierCircle-SemiBoldItalic.otf") format("opentype");
  font-weight: 600; /* Assuming semi-bold corresponds to 600 weight */
  font-style: italic;
}

.bold-text {
  font-family: "Basier Circle Bold", sans-serif;
}

.bold-italic-text {
  font-family: "Basier Circle Bold Italic", sans-serif;
}

.medium-text {
  font-family: "Basier Circle Medium", sans-serif;
}

.medium-italic-text {
  font-family: "Basier Circle Medium Italic", sans-serif;
}

.regular-text {
  font-family: "Basier Circle Regular", sans-serif;
}

.regular-italic-text {
  font-family: "Basier Circle Regular Italic", sans-serif;
}

.semi-bold-text {
  font-family: "Basier Circle SemiBold", sans-serif;
}

.semi-bold-italic-text {
  font-family: "Basier Circle SemiBold Italic", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-player__shadow {
  background-color: green !important;
  border: 2px solid white;
  transform: scale(0.7);
}
.react-player__play-icon {
  transform: scale(0.8);
}
video {
  object-fit: cover;
}


/* ============== */
/* .table {
  border-collapse: separate;
  border-spacing: 0 10px; 
}

.table tr {
  border: 1px solid #21B546;
}
.cell.table {
  border-spacing: 10px;
  border-collapse: separate;
  margin: -10px 0; 
} */

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

/* ========= */
.rotate-infinite {
  animation: rotate 2s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #navwqreqwrew {
  background-color: #ffffff5e;
  border-bottom: 1px solid #ccc;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(4px);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 60px;
  } */

#images-background {
  /* background-image: url('images/need-help-with.svg'); */
}
